asn1crypto==0.23.0
certifi==2017.7.27.1
cffi==1.11.0
chardet==3.0.4
click==6.7
cryptography==2.0.3
Flask==0.12.2
gunicorn==19.7.1
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
portier-python==0.1.1
pycparser==2.18
PyJWT==1.5.3
redis==2.10.6
requests==2.18.4
six==1.11.0
urllib3==1.22
Werkzeug==0.12.2
